<div class="container-fluid">
  <mat-toolbar class="home-navbar">
    <h1>Guillermo Vela, eres mi perra.</h1>
    <h1>Y Jesus se la come.</h1>
  </mat-toolbar>
 
  <ng-container *ngIf="!isMobile; else showMobile">
    <mat-toolbar class="row home-navbar justify-content-center">
      <img src="../assets/icono.jpeg" alt="casta-negra" class="img-toolbar">
    </mat-toolbar>
    <div class="row justify-content-center">
      <img src="../assets/formato-3.png" alt="home-casta-negra" class="img-home">
    </div>
  </ng-container>
</div>

<ng-template #showMobile>
  <div class="container" (click)="toggleScroll()">
    <div class="row justify-content-center">
      <img src="../assets/icono.jpeg" alt="casta-negra" class="img-toolbar-mobile">
    </div>
  </div>
</ng-template>