.home-navbar{
    border-bottom: 2px solid #ff6550;
    height: 160px;
    background-color: rgb(1,1,1);
    
    .img-toolbar{
        height: 123px;
        width: 146px;
    }
}

.img-home{
    width: 50rem;
    height: 50rem;
}
