<div class="container-fluid">
  <ng-container *ngIf="!isMobile; else showMobile">
    <mat-toolbar class="row home-navbar justify-content-center">
      <img src="../assets/icono.jpeg" alt="casta-negra" class="img-toolbar">
    </mat-toolbar>
    <div class="row justify-content-center">
      <img src="../assets/formato-1.jpeg" alt="home-casta-negra" class="img-home">
    </div>
  </ng-container>
</div>

<ng-template #showMobile>
  <div class="container" (click)="toggleScroll()">
    <div class="row justify-content-center">
      <img src="../assets/icono.jpeg" alt="casta-negra" class="img-toolbar-mobile">
    </div>
  </div>
</ng-template>