.home-navbar{
    border-bottom: 2px solid #ff6550;
    height: 160px;
    background-color: rgb(1,1,1);
    color: white;
    
    .img-toolbar{
        height: 123px;
        width: 146px;
    }
}

.img-home{
    width: 50rem;
    height: 50rem;
}


.img-toolbar-mobile {
    margin-top: 50%;
    width: 100%;
}

title{
    color: white;
}
